target
node
node_modules
bower_components
data
.bower.json
*.log
*.idea
*.log.1
*.swp
statics/dist
overlays
cxp-exports/**
!cxp-exports/pom.xml
*.sublime-project
*.sublime-workspace
*.classpath
*.project
*.prefs
*.iml
.h2.server.properties
*.properties.backup
widgetsettings
.settings
logs
.tmp
node_tmp
tmp
~$*.*
.~lock.*
*.lck
.DS_Store
.idea
*.db
